.env
back/config/settings.py

# Ignore Python cache files
__pycache__/
*.py[cod]
*.log

# Ignore virtual environment directories
venv/
.venv/
env/
ENV/

# Ignore database files
*.sqlite3

# Ignore migrations
migrations/

.vscode/
.idea/

